:root {
    --green-50: #f5faf3;
    --green-100: #e6f4e4;
    --green-200: #cfe7cb;
    --green-300: #a9d3a2;
    --green-400: #7ab771;
    --green-500: #5ca251;
    --green-600: #447e3b;
    --green-700: #386431;
    --green-800: #30502b;
    --green-900: #294225;
    --green-950: #122310;
    --white: #fff;
    --gray-25: #FCFCFF;
    --gray-50: #F5F7FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--gray-50);
    color: #333;
    line-height: 1.6;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(203 213 225);
    color: #fff;
    /* Default text color */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    text-transform: uppercase;
}

.bg-rose {
    background-color: var(--green-400);
    transition: background-color 0.3s ease;
}

.bg-rose-gradient {
    background: linear-gradient(90deg, var(--gray) 50%, var(--gray) 100%);
    transition: background 0.3s ease;
}

.bg-rose-outline {
    transition: background-color 0.5s ease;
    border: 1px solid var(--green-400);
    color: var(--green-400);
}

.bg-rose:hover {
    background-color: var(--green-500);
}

.bg-rose-outline:hover {
    background-color: var(--green-400);
    color: #fff;
}

img {
    width: 100%;
    /* Set the desired width */
    height: 200px;
    /* Set the desired height */
    object-fit: cover;
    /* Ensure the image covers the specified dimensions */
}

.recipe-card {
    background: #fff;
    margin: 2em 0;
    width: 90%;
    max-width: 475px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
    padding: 0;
    text-decoration: none;
    /* Remove all padding */
    transition: transform 0.15s ease;
}

.recipe-card:hover {
    transform: scale(1.035);
}

.recipe-card aside {
    position: relative;
}

.recipe-card aside img {
    border-top-left-radius: 5px;
    max-width: 100%;
    object-fit: cover;
}

.recipe-card aside .button {
    background: var(--green-400);
    display: inline-block;
    position: absolute;
    top: 80%;
    right: 3%;
    width: 65px;
    height: 65px;
    border-radius: 65px;
    line-height: 65px;
    text-align: center;
}

.recipe-card aside .button .icon {
    vertical-align: middle;
}

.recipe-card article {
    padding: 1.25em 1.5em;
}

.recipe-card article ul {
    list-style: none;
    margin: 0.5em 0 0;
    padding: 0;
}

.recipe-card article ul li {
    display: inline-block;
    margin-left: 1em;
    line-height: 1em;
}

.recipe-card article ul li:first-child {
    margin-left: 0;
}

.recipe-card article ul li .icon {
    vertical-align: bottom;
}

.recipe-card article ul li span:nth-of-type(2) {
    margin-left: 0.5em;
    font-size: 0.8em;
    font-weight: 300;
    vertical-align: middle;
    color: #838689;
}

.recipe-card article h2,
.recipe-card article h3 {
    margin: 0;
    font-weight: 300;
}

.recipe-card article h2 {
    font-size: 28px;
    color: #222222;
}

.recipe-card article h3 {
    font-size: 15px;
    color: #838689;
}

.recipe-card article p {
    margin: 1.25em 0;
    font-size: 13px;
    font-weight: 400;
    color: #222222;
}

.recipe-card article p span {
    font-weight: 700;
    color: #000000;
}

.recipe-card article .ingredients {
    margin: 2em 0 0.5em;
}

.icon {
    display: inline;
    display: inline-block;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/recipe-card-icons.svg);
    background-repeat: no-repeat;
}

.icon-calories,
.icon-calories-regular {
    background-position: 0 0;
    width: 16px;
    height: 19px;
}

.icon-clock,
.icon-clock-regular {
    background-position: 0 -19px;
    width: 20px;
    height: 20px;
}

.icon-level,
.icon-level-regular {
    background-position: 0 -39px;
    width: 16px;
    height: 19px;
}

.icon-play,
.icon-play-regular {
    background-position: 0 -58px;
    width: 21px;
    height: 26px;
}

.icon-users,
.icon-users-regular {
    background-position: 0 -84px;
    width: 18px;
    height: 18px;
}


/* Custom CSS for styling the recipe image */

.recipe-image-container {
    border: 2px solid #ddd;
    /* Add a border around the image */
    border-radius: 10px;
    /* Add rounded corners to the border */
    overflow: hidden;
    /* Ensure the image stays within its container */
}

.recipe-image-container img {
    width: 100%;
    /* Ensure the image fills its container */
    height: auto;
    /* Maintain aspect ratio */
}

.image-container {
    width: 100%;
    /* Or any desired fixed width */
    max-width: 300px;
    /* Or any desired maximum width */
    height: auto;
    /* Maintain aspect ratio */
    overflow: hidden;
    /* Hide excess content */
}

.image-container {
    width: 100%;
    /* Ensure the container takes up the full width */
    height: 300px;
    /* Set the height explicitly */
    position: relative;
    /* Needed for absolute positioning of the image */
}

.image-container img {
    object-fit: cover;
    width: 100%;
    /* Image will cover the full width of the container */
    height: 100%;
    /* Image will cover the full height of the container */
    position: absolute;
    /* Position the image absolutely to cover the container */
    top: 0;
    left: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}

.wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}

.wrapper section .item {
    position: relative;
    padding: 0 2px;
    transition: 250ms all;
}

.wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
}

.wrapper section .item .heading {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
}

.wrapper section .item .duration {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: #fff;
}

.wrapper section .arrow__btn {
    position: absolute;
    color: #ffffff;
    text-decoration: none;
    font-size: 6em;
    background: linear-gradient(90deg, rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.4));
    width: 80px;
    height: 80px;
    /* Added to make the button square */
    line-height: 80px;
    /* Added to vertically center the text */
    padding: 20px;
    /* Removed padding */
    text-align: center;
    z-index: 1;
    border: none;
    /* Removed border */
    cursor: pointer;
    /* Added cursor */
    transition: background 0.3s;
    /* Added transition for smoother hover effect */
}

.wrapper section .arrow__btn:hover {
    background: linear-gradient(90deg, rgba(40, 40, 40, 0.9), rgba(40, 40, 40, 0.6));
}

.wrapper section .left-arrow,
.wrapper section .right-arrow {
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    /* Removed padding */
}

.wrapper section .left-arrow {
    left: 0;
}

.wrapper section .right-arrow {
    right: 0;
}

.ingredient-card {
    background: #E6E6FA;
    /* Lavender tone */
    transition: background 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.ingredient-card-header {
    background: linear-gradient(45deg, #FFE4E1, #E6E6FA);
    /* Gradient from misty rose to lavender */
    color: #333;
    /* Dark grey text color */
    padding: 20px;
    border-radius: 15px 15px 0 0;
}

.ingredient-card-footer {
    background: rgba(255, 255, 255, 0.5);
    /* Semi-transparent white background */
    color: #555;
    /* Light grey text color */
    padding: 20px;
    border-radius: 0 0 15px 15px;
}

.glassmorphism::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: inherit;
    opacity: 0.1;
    filter: blur(10px);
}

.glassmorphism {
    position: relative;
    overflow: hidden;
}

.amount-badge {
    /* Light blue tone */
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: auto;
}

@media screen and (min-width: 576px) {
    /* Fade animations */
    .fade-up,
    .fade-left,
    .fade-right {
        opacity: 0;
        visibility: hidden;
    }
    .fade-up.animate,
    .fade-left.animate,
    .fade-right.animate {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
    .fade-left {
        transform: translateX(-10%);
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }
    .fade-right {
        transform: translateX(10%);
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }
    .fade-up {
        transform: translateY(20%);
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }
    /* Staggered animations using nth-child */
    .fade-up:nth-child(1) {
        transition-delay: 0.10s;
        /* Adjust the delay for the first card */
    }
    .fade-up:nth-child(2) {
        transition-delay: 0.20s;
        /* Adjust the delay for the second card */
    }
    .fade-up:nth-child(3) {
        transition-delay: 0.30s;
        /* Adjust the delay for the third card */
    }
    .fade-right:nth-child(1) {
        transition-delay: 0.20s;
        /* Adjust the delay for the fourth card */
    }
    .fade-right:nth-child(2) {
        transition-delay: 0.30s;
        /* Adjust the delay for the fifth card */
    }
    /* Slide animations */
    .slide-up,
    .slide-down,
    .slide-right,
    .slide-left {
        opacity: 0;
        visibility: hidden;
    }
    .slide-up.animate {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }
    .slide-down.animate {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }
    .slide-right.animate {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }
    .slide-left.animate {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }
}

.navbar {
    background-color: var(--white);
}

.navbar-logo {
    height: 40px;
    /* Adjust this value as needed */
    /* Optionally, you can also set a max-width to prevent the image from becoming too wide */
    max-width: 300px;
    /* Adjust this value as needed */
    transform: scale(.9);
}

.logout-icon {
    transform: scale(1.2);
}

.sidenav {
    height: 100vh;
    /* Full-height */
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    /* Adjust this value based on the height of your navbar */
    z-index: 1000;
    /* Ensure the sidenav appears above other content */
    overflow-y: auto;
    /* Allow vertical scrolling if content overflows */
}

.nav-link {
    font-size: clamp(14px, 1vw, 20px);
    font-weight: bold;
    transition: transform 0.3s;
    padding: 10px 10px;
    border-radius: 5px;
    color: var(--green-950);
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    transform: scale(1.035);
    /* Increase the size of the link on hover and when active */
    background-color: var(--green-400);
    /* Change background color on hover and when active */
    color: var(--green-50);
    /* Change text color on hover and when active */
}