.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-link {
    padding: 5px 10px;
    margin: 0 5px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination-link:hover {
    background-color: #007bff;
    color: white;
}

.pagination-info {
    margin: 0 10px;
    font-size: 14px;
}

img {
    width: 100%;
    /* Set the desired width */
    height: 200px;
    /* Set the desired height */
    object-fit: cover;
    /* Ensure the image covers the specified dimensions */
}

.recipe-card {
    background: #fff;
    margin: 2em 0;
    width: 90%;
    max-width: 496px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
    padding: 0;
    text-decoration: none;
    /* Remove all padding */
    transition: transform 0.15s ease;
}

.recipe-card:hover {
    transform: scale(1.035);
}

.recipe-card aside {
    position: relative;
}

.recipe-card aside img {
    border-top-left-radius: 5px;
    max-width: 100%;
    object-fit: cover;
}

.recipe-card aside .button {
    background: #57abf2;
    display: inline-block;
    position: absolute;
    top: 80%;
    right: 3%;
    width: 65px;
    height: 65px;
    border-radius: 65px;
    line-height: 65px;
    text-align: center;
}

.recipe-card aside .button .icon {
    vertical-align: middle;
}

.recipe-card article {
    padding: 1.25em 1.5em;
}

.recipe-card article ul {
    list-style: none;
    margin: 0.5em 0 0;
    padding: 0;
}

.recipe-card article ul li {
    display: inline-block;
    margin-left: 1em;
    line-height: 1em;
}

.recipe-card article ul li:first-child {
    margin-left: 0;
}

.recipe-card article ul li .icon {
    vertical-align: bottom;
}

.recipe-card article ul li span:nth-of-type(2) {
    margin-left: 0.5em;
    font-size: 0.8em;
    font-weight: 300;
    vertical-align: middle;
    color: #838689;
}

.recipe-card article h2,
.recipe-card article h3 {
    margin: 0;
    font-weight: 300;
}

.recipe-card article h2 {
    font-size: 28px;
    color: #222222;
}

.recipe-card article h3 {
    font-size: 15px;
    color: #838689;
}

.recipe-card article p {
    margin: 1.25em 0;
    font-size: 13px;
    font-weight: 400;
    color: #222222;
}

.recipe-card article p span {
    font-weight: 700;
    color: #000000;
}

.recipe-card article .ingredients {
    margin: 2em 0 0.5em;
}

.icon {
    display: inline;
    display: inline-block;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/recipe-card-icons.svg);
    background-repeat: no-repeat;
}

.icon-calories,
.icon-calories-regular {
    background-position: 0 0;
    width: 16px;
    height: 19px;
}

.icon-clock,
.icon-clock-regular {
    background-position: 0 -19px;
    width: 20px;
    height: 20px;
}

.icon-level,
.icon-level-regular {
    background-position: 0 -39px;
    width: 16px;
    height: 19px;
}

.icon-play,
.icon-play-regular {
    background-position: 0 -58px;
    width: 21px;
    height: 26px;
}

.icon-users,
.icon-users-regular {
    background-position: 0 -84px;
    width: 18px;
    height: 18px;
}


/* Custom CSS for styling the recipe image */

.recipe-image-container {
    border: 2px solid #ddd;
    /* Add a border around the image */
    border-radius: 10px;
    /* Add rounded corners to the border */
    overflow: hidden;
    /* Ensure the image stays within its container */
}

.recipe-image-container img {
    width: 100%;
    /* Ensure the image fills its container */
    height: auto;
    /* Maintain aspect ratio */
}

.amount-badge {
    background-color: lightgray;
    /* Bootstrap primary color */
    color: #fff;
    /* White text color */
    font-size: 14px;
    /* Adjust the font size */
    padding: 5px 10px;
    /* Add padding to the badge */
    border-radius: 20px;
    /* Make the badge round */
}