<!DOCTYPE html>
<html>
  <head>
    <title>Grocery Tracking</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <meta viewport="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm py-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item mr-3">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="{% url 'items' %}">Manage Items</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="{% url 'recipes' %}">Manage Recipes</a>
            </li>
            {% endif %}
          </ul>
        </div>

        <div class="ms-auto">
          <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li> {% endcomment %}
            {% endif %}
          </ul>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    {% block body %} {% endblock %}
  </body>
</html>
