{% extends 'groceryapp/base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 my-4">
            <h1>Edit Item</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_name" class="form-label">Name</label>
                    {{ form.name }}
                </div>
                <div class="mb-3">
                    <label for="id_quantity" class="form-label">Quantity</label>
                    {{ form.quantity }}
                </div>
                <div class="mb-3">
                    <label for="id_price" class="form-label">Price</label>
                    {{ form.price }}
                </div>
                <div class="mb-3">
                    <label for="id_price_per_item" class="form-label">Price per Item</label>
                    {{ form.price_per_item }}               
                </div>                 
                <div class="mb-3">
                    <label for="id_expiration_date" class="form-label">Exp. Date</label>
                    {{ form.expiration_date }}
                </div>                
                <div class="mb-3">
                    <label for="id_category" class="form-label">Category</label>
                    {{ form.category }}
                </div>
                <div class="mb-3">
                    <label for="id_location" class="form-label">Location</label>
                    {{ form.location }}
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</div>

<script>
    // Function to calculate price per unit
    function calculatePricePerUnit() {
        var quantity = parseFloat(document.getElementById("id_quantity").value);
        var price = parseFloat(document.getElementById("id_price").value);
        var pricePerUnitField = document.getElementById("id_price_per_item");
        
        if (!isNaN(quantity) && !isNaN(price) && quantity !== 0) {
            var pricePerUnit = (price / quantity).toFixed(2);
            pricePerUnitField.value = pricePerUnit;
        } else {
            pricePerUnitField.value = "";
        }
    }
    
    // Calculate price per unit when quantity or price changes
    document.getElementById("id_quantity").addEventListener("input", calculatePricePerUnit);
    document.getElementById("id_price").addEventListener("input", calculatePricePerUnit);
</script>
{% endblock %}
