{% extends 'groceryapp/base.html' %} {% load static %} {% block body %}
<div class="container py-5">
  <h1 class="text-center mb-4">Welcome to the Grocery App!</h1>
  <p class="text-center mb-4">
    Manage your grocery list, discover delicious recipes, and never run out of
    essentials again.
  </p>
  <p class="text-center mb-4">
    Explore our extensive collection of recipes and plan your week's meals with
    ease.
  </p>

  <div class="row">
    <h1>Featured Recipes</h1>

    <div class="wrapper">
      <section id="section1">
        <a href="#section3" class="arrow__btn left-arrow">‹</a>

        {% for recipes in feature_recipes1 %}
        <div class="item recipe-image">
          <a href="{% url 'recipe_detail' recipes.id %}">
            <!-- Replace 'recipe_detail' with the actual name of your detail view and 'recipes.slug' with the appropriate field -->
            <aside>
              <img src="{{ recipes.image }}" />
            </aside>
          </a>
        </div>

        {% endfor %}

        <a href="#section2" class="arrow__btn right-arrow">›</a>
      </section>

      <section id="section2">
        <a href="#section1" class="arrow__btn left-arrow">‹</a>

        {% for recipes in feature_recipes2 %}
        <div class="item">
          <a href="{% url 'recipe_detail' recipes.id %}">
            <!-- Replace 'recipe_detail' with the actual name of your detail view and 'recipes.slug' with the appropriate field -->
            <img src="{{ recipes.image }}" />
          </a>
        </div>
        {% endfor %}

        <a href="#section3" class="arrow__btn right-arrow">›</a>
      </section>

      <section id="section3">
        <a href="#section2" class="arrow__btn left-arrow">‹</a>

        {% for recipes in feature_recipes3 %}
        <div class="item">
          <a href="{% url 'recipe_detail' recipes.id %}">
            <!-- Replace 'recipe_detail' with the actual name of your detail view and 'recipes.slug' with the appropriate field -->
            <img src="{{ recipes.image }}" />
          </a>
        </div>
        {% endfor %}

        <a href="#section1" class="arrow__btn right-arrow">›</a>
      </section>
    </div>
  </div>
</div>
{% endblock %}
