{% extends 'groceryapp/base.html' %} {% load static %} {% block body %}
<div class="container pb-3">
  <div class="row mt-5">
    <!-- KPI Card 2 (Expenses this month) -->
    <div class="col-md-4">
      <div class="card h-100">
        <div
          class="card-body py-4 px-3 d-flex flex-column justify-content-between"
        >
          <h5 class="card-title">Expenses this month</h5>
          <p>
            Last Month: <span id="expensesLastMonth"></span>
            <span id="indicatorLastMonth"></span>
          </p>
          <h3 class="card-text" id="expensesThisMonth"></h3>
        </div>
      </div>
    </div>

    <!-- KPI Card 3 (Expenses this week) -->
    <div class="col-md-4">
      <div class="card h-100">
        <div
          class="card-body py-4 px-3 d-flex flex-column justify-content-between"
        >
          <h5 class="card-title">Expenses this week</h5>
          <p>
            Last Week: <span id="expensesLastWeek"></span>
            <span id="indicatorLastWeek"></span>
          </p>
          <h3 class="card-text" id="expensesThisWeek"></h3>
        </div>
      </div>
    </div>

    <!-- KPI Card 1 (Total Items) -->
    <div class="col-md-4">
      <div class="card h-100">
        <div
          class="card-body py-4 px-3 d-flex flex-column justify-content-between"
        >
          <h5 class="card-title">Total Items</h5>
          <h3 class="card-text">{{ items|length }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <form action="" method="get" class="mb-3">
        <div class="input-group">
          <input
            type="search"
            name="item_name"
            class="form-control rounded border-end-0 py-2"
            placeholder="Search Items"
            aria-label="Search"
            {%
            if
            request.GET.item_name
            %}
            value="{{ request.GET.item_name }}"
            {%
            endif
            %}
          />
          <button type="submit" class="btn bg-rose text-white rounded">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <div class="d-flex justify-content-end">
        <a href="{% url 'addItem' %}" class="btn bg-rose text-white">
          <i class="fas fa-plus me-2"></i>Add Item
        </a>

        <a onclick="exportToPDF()" class="btn bg-rose-outline mx-2">
          Export to PDF
        </a>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-6">
        <!-- Item List -->
        <div class="card">
          <div class="card-header bg-gradient-primary text-dark py-3">
            <h5 class="mb-0">Grocery Items</h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Location</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in items %}
                  <tr>
                    <td class="align-middle py-3">{{ item.name }}</td>
                    <td class="align-middle">
                      <div class="d-flex align-items-center">
                        {% comment %}
                        <button
                          class="btn btn-sm btn-success me-2"
                          onclick="incrementQuantity({{ item.id }})"
                          title="Increase Quantity"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                        {% endcomment %}
                        <span class="mx-2" id="quantity_{{ item.id }}"
                          >{{ item.quantity }}</span
                        >
                        {% comment %}
                        <button
                          class="btn btn-sm btn-danger"
                          onclick="decrementQuantity({{ item.id }})"
                          title="Decrease Quantity"
                        >
                          <i class="fas fa-minus"></i>
                        </button>
                        {% endcomment %}
                      </div>
                    </td>
                    <td class="align-middle">€{{ item.price }}</td>
                    <td class="align-middle">{{ item.location }}</td>
                    <td class="align-middle">
                      <a
                        href="{% url 'editItem' item.id %}"
                        class="btn btn-sm btn-outline-primary me-2"
                      >
                        <i class="fas fa-edit"></i>
                      </a>
                      <a
                        href="{% url 'deleteItem' item.id %}"
                        class="btn btn-sm btn-outline-danger"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <!-- Expense Summary -->
        <div class="card">
          <div class="card-header bg-gradient-primary text-dark py-3">
            <h5 class="mb-0">Expense Summary</h5>
          </div>
          <div class="card-body">
            <!-- Ensure the canvas is within the card body -->
            <canvas
              id="categoryChart"
              width="150"
              height="75"
              class=""
            ></canvas>
          </div>
        </div>

        <!-- Charts Section -->
        <div class="card mt-3">
          <div class="card-header bg-gradient-primary text-dark py-3">
            <h5 class="mb-0">Expenses Over Time</h5>
          </div>
          <div class="card-body">
            <!-- Monthly Expenses Chart -->
            <canvas id="monthlyExpensesChart" width="400" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    // Calculate total expenses for each category
    var categoryExpenses = {
        {% for item in items %}
            "{{ item.category }}": {{ item.price }},
        {% endfor %}
    };

    // Generate the chart using the calculated data
    var ctx = document.getElementById('categoryChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: Object.keys(categoryExpenses),
            datasets: [{
                label: '€ Spent',
                data: Object.values(categoryExpenses),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 0, 0, 0.2)',
                    'rgba(0, 255, 0, 0.2)',
                    'rgba(0, 0, 255, 0.2)',
                    'rgba(128, 0, 128, 0.2)',
                    'rgba(255, 165, 0, 0.2)',
                    'rgba(128, 128, 0, 0.2)',
                    'rgba(0, 128, 128, 0.2)',
                    'rgba(128, 0, 0, 0.2)',
                    'rgba(0, 128, 0, 0.2)',
                    'rgba(0, 0, 128, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 0, 0, 1)',
                    'rgba(0, 255, 0, 1)',
                    'rgba(0, 0, 255, 1)',
                    'rgba(128, 0, 128, 1)',
                    'rgba(255, 165, 0, 1)',
                    'rgba(128, 128, 0, 1)',
                    'rgba(0, 128, 128, 1)',
                    'rgba(128, 0, 0, 1)',
                    'rgba(0, 128, 0, 1)',
                    'rgba(0, 0, 128, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    display: false  // Remove y-axis
                }
            },
            plugins: {
                legend: {
                    position: 'left'  // Position legend on the left side
                }
            }
        }
    });
  </script>

  <script>
    var monthlyChart; // Declare monthlyChart in the global scope

    document.addEventListener("DOMContentLoaded", function() {
        // Creating an object to store expenses per date
        var expensesPerDate = {};
        {% for item in items %}
            var date = '{{ item.date_bought }}';
            var price = {{ item.price }};

            // If the date already exists in the object, add the price to its total expenses
            if (expensesPerDate.hasOwnProperty(date)) {
                expensesPerDate[date] += price;
            } else {
                // Otherwise, initialize the expenses for the date
                expensesPerDate[date] = price;
            }
        {% endfor %}

        // Extracting unique dates from the object
        var uniqueDates = Object.keys(expensesPerDate);
        // Sorting the uniqueDates array chronologically
        uniqueDates.sort(function(a, b) {
            return new Date(a) - new Date(b);
        });

        // Extracting corresponding expenses for the sorted dates
        var expenses = uniqueDates.map(function(date) {
            return expensesPerDate[date];
        });

        var ctx = document.getElementById('monthlyExpensesChart').getContext('2d');
        monthlyChart = new Chart(ctx, { // Assign the chart to the global variable
            type: 'line',
            data: {
                labels: uniqueDates,
                datasets: [{
                    label: '€ Spent per Date',
                    data: expenses,
                    backgroundColor: 'rgba(54,  162,  235,  0.2)',
                    borderColor: 'rgba(54,  162,  235,  1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });

    function updateChart() {
        var selectedMonth = document.getElementById('monthSelector').value;
        var filteredDates = [];
        var filteredExpenses = [];

        if (selectedMonth === "all") {
            // Show all dates and expenses
            filteredDates = uniqueDates;
            filteredExpenses = expenses;
        } else {
            // Filter dates and expenses for the selected month
            for (var i = 0; i < uniqueDates.length; i++) {
                if (uniqueDates[i].startsWith(selectedMonth)) {
                    filteredDates.push(uniqueDates[i]);
                    filteredExpenses.push(expenses[i]);
                }
            }
        }

        // Update the chart with filtered data
        monthlyChart.data.labels = filteredDates;
        monthlyChart.data.datasets[0].data = filteredExpenses;
        monthlyChart.update();
    }
  </script>

  <script>
    function incrementQuantity(itemId) {
      fetch("/increment_quantity/" + itemId + "/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}", // Replace {{ csrf_token }} with your actual CSRF token
        },
        body: JSON.stringify({}),
      })
        .then((response) => response.json())
        .then((data) => {
          var quantityElement = document.getElementById("quantity_" + itemId);
          var priceElement = document.getElementById("price_" + itemId);
          quantityElement.innerHTML = data.quantity;
          priceElement.innerHTML =
            (data.quantity * data.price).toFixed(2) + "€";
        })
        .catch((error) => console.error("Error:", error));
    }

    function decrementQuantity(itemId) {
      fetch("/decrement_quantity/" + itemId + "/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}", // Replace {{ csrf_token }} with your actual CSRF token
        },
        body: JSON.stringify({}),
      })
        .then((response) => response.json())
        .then((data) => {
          var quantityElement = document.getElementById("quantity_" + itemId);
          var priceElement = document.getElementById("price_" + itemId);
          quantityElement.innerHTML = data.quantity;
          priceElement.innerHTML =
            (data.quantity * data.price).toFixed(2) + "€";
        })
        .catch((error) => console.error("Error:", error));
    }
  </script>

  <script>
    function exportToPDF() {
      var doc = new jsPDF();

      // Add title
      doc.setFontSize(20);
      doc.text("Grocery Tracking Summary", 15, 15);

      // Add grocery items table
      var groceriesTable = document.getElementById("groceriesTable");
      doc.autoTable({ html: groceriesTable });

      // Add expense summary
      var expenseSummary = document.getElementById("expenseSummary").innerText;
      doc.setFontSize(14);
      doc.text(15, doc.lastAutoTable.finalY + 10, "Expense Summary:");
      doc.text(15, doc.lastAutoTable.finalY + 20, expenseSummary);

      // Add category chart
      var categoryChartCanvas = document.getElementById("categoryChart");
      var categoryChartImg = categoryChartCanvas.toDataURL("image/png");
      doc.addImage(
        categoryChartImg,
        "PNG",
        15,
        doc.lastAutoTable.finalY + 40,
        180,
        100
      );

      // Save the PDF
      doc.save("grocery_summary.pdf");
    }
  </script>

  <script>
    // Get the current date
    var today = new Date();

    // Get the start of the week (Sunday)
    var startOfWeek = new Date(today);
    startOfWeek.setDate(startOfWeek.getDate() - startOfWeek.getDay());

    // Calculate the start of the month
    var startOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);

    // Get the start of the last week (Sunday)
    var startOfLastWeek = new Date(today);
    startOfLastWeek.setDate(startOfLastWeek.getDate() - startOfLastWeek.getDay() - 7);

    // Get the start of the last month
    var startOfLastMonth = new Date(today.getFullYear(), today.getMonth() - 1, 1);

    // Initialize variables to hold expenses per week and per month
    var expensesThisWeek = 0;
    var expensesThisMonth = 0;
    var expensesLastWeek = 0;
    var expensesLastMonth = 0;

    // Iterate through expenses to calculate totals
    {% for item in items %}
      var expenseDate = new Date("{{ item.date_bought }}");
      var expenseAmount = {{ item.price }};

      // Check if the expense falls within the current week
      if (expenseDate >= startOfWeek && expenseDate <= today) {
        expensesThisWeek += expenseAmount;
      }

      // Check if the expense falls within the current month
      if (expenseDate >= startOfMonth && expenseDate <= today) {
        expensesThisMonth += expenseAmount;
      }

      // Check if the expense falls within the last week
      if (expenseDate >= startOfLastWeek && expenseDate < startOfWeek) {
        expensesLastWeek += expenseAmount;
      }

      // Check if the expense falls within the last month
      if (expenseDate >= startOfLastMonth && expenseDate < startOfMonth) {
        expensesLastMonth += expenseAmount;
      }
    {% endfor %}

    // Display expenses on the page
    document.getElementById("expensesThisWeek").innerText = "€" + expensesThisWeek.toFixed(2);
    document.getElementById("expensesThisMonth").innerText = "€" + expensesThisMonth.toFixed(2);

    // Display expenses from last week and last month on the page
    document.getElementById("expensesLastWeek").innerText = "€" + expensesLastWeek.toFixed(2);
    document.getElementById("expensesLastMonth").innerText = "€" + expensesLastMonth.toFixed(2);

    // Add icons indicating whether current expenses are higher or lower than the previous periods
    var iconLastWeek = document.getElementById("iconLastWeek");
    var iconLastMonth = document.getElementById("iconLastMonth");

    if (expensesThisWeek > expensesLastWeek) {
      iconLastWeek.classList.add("fas", "fa-arrow-up", "text-danger");
    } else if (expensesThisWeek < expensesLastWeek) {
      iconLastWeek.classList.add("fas", "fa-arrow-down", "text-success");
    }

    if (expensesThisMonth > expensesLastMonth) {
      iconLastMonth.classList.add("fas", "fa-arrow-up", "text-danger");
    } else if (expensesThisMonth < expensesLastMonth) {
      iconLastMonth.classList.add("fas", "fa-arrow-down", "text-success");
    }
  </script>

  {% endblock %}
</div>
