{% extends 'groceryapp/base.html' %}
{% load static %}
{% block body %}

<div class="container my-5">
  <div class="row align-items-start">
    <div class="col">
      <h1 class="display-4 text-start text-uppercase mb-4 ">{{ recipe.name }}</h1>
      <hr>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="ingredient-card shadow-sm glassmorphism">
        <div class="ingredient-card-header bg-gradient-primary text-black">
          <h3 class="mb-0 py-2">Ingredients</h3>
        </div>
        <ul class="list-group list-group-flush text-capitalize">
          {% for recipe_ingredient in recipe_ingredients %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="font-weight-bold">{{ recipe_ingredient.ingredient }}</span>
            <span class="amount-badge px-3">{{ recipe_ingredient.amount }}</span>
          </li>
          {% endfor %}
        </ul>
        {% if request.user == recipe.owner %}
        <div class="ingredient-card-footer text-center">
          <a href="{% url 'addIngredients' id=recipe.id %}" class="btn btn-outline-primary">Add Ingredients</a>
        </div>
        {% endif %}
      </div>
      
    </div>

    <div class="col-md-8">
      <aside>
        <img src="{{recipe.image}}" style="height: 300px;" />
      </aside>

      <div class="mt-4 bg-gradient-primary text-black text-center py-4 px-3 rounded">
        <h3>Instructions</h3>
        <p class="lead">{{ formatted_instructions | safe }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
